<% include ../partials/header %>
<div class="ui main container segment">
    <i><%= campground.author.username %>, </i><span><b>  Posted on: </b><%= campground.created.toDateString() %>  </span>
    <h3><%= campground.name %></h3>
    <div class="item">
        <img class="ui centered rounded image " src="<%= campground.image %>">
        
    </div>
    
    <div class="ui description" ><p><%= campground.description %></p></div>
    <% if(currentUser && campground.author.id.equals(currentUser._id) ){ %>
    <a class="ui basic small green button" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    <form  id="delete-form" class="ui form" action ="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button class="ui basic small red button">Delete</button>
    </form>
    <% } %>
    <div id="comment" >
        <a class="btn btn-sm btn-success"  href="/campgrounds/<%= campground._id %>/comments/new"> Add Comment</a>
        
        <% campground.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author.username %></strong>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                            Edit    
                        </a>
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                            <input  class="btn btn-xs btn-danger"   type="submit"  value="delete" >
                        </form>
                     <% } %>
                    <p>
                        <%= comment.text %>
                    </p>
                </div>
            </div>
        <% }) %> 
    </div>
</div>

    

